{% extends 'base.html' %}

{% load static %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}

<body class="detail-body">

    <div class="card">
        <div class="card-body">
            <img src="{{ post.image.url }}" alt="post image" width="300" height="300">
            <h1>{{ post.title }}</h1>
            <h5>{{ post.subtitle }}</h5>
            <small>Created by: {{ post.author }} | On: {{ post.created_on }} </small>
            <p>{{post.body}}</p>
            {% if user.username == post.author.username %}
           

            <p>
                <a href="{% url 'update' post.id %}" class="btn btn-primary">Update</a>
                <a href="{% url 'delete' post.id %}" class="btn btn-danger">Delete</a>

            {% endif %}

            <a class="btn btn-outline-secondary" href="{% url 'list' %}">Back to list</a>

        </div>

   

</body>



{% endblock content %}