{% extends "base.html" %}

{% load static %}

{% block title %}Post{% endblock title %}

{% block content %}

<body class="post-body ">
  <h1 class="text-center">Job Listings</h1>
  {% for post in post_list %}
  <div class="row d-flex justify-content-center mt-100 mb-100">
    <div class="col-lg-6 text-center">
      <div class="list-group">
        <a href="{% url 'detail' post.id %}"
          class="list-group-item list-group-item-action list-group-item-secondary">{{post.title}}</a>
      </div>
    </div>

  </div>

</body>
{% endfor %}
{% endblock content %}