{% extends 'base.html' %}


{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<h1>{{ post.title }}</h1>
<h5>{{ post.subtitle }}</h5>
<small>Created by: {{ post.author }} | On: {{ post.created_on }} </small>
<p>{{post.body}}</p>
{% if user.username == post.author.username %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Update" class="btn btn-primary">
</form>
{% endif %}

{% endblock content %}