{% extends 'base.html' %}
{% load static %}

{% block title %}Sign up{% endblock title %}

{% block content %}

<body>
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    <p class="mt-5 mb-3 text-muted">Don't have an account?</p>


    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <a class="btn btn-outline-secondary" href="#">Sign Up</a>
    </form>
    <br>
    <p>Already have an account?</p>


    <a class="btn btn-outline-secondary" href="{% url 'login' %}">Log In</a>


</body>
{% endblock content %}