{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}


<body class="about-page">
  <div class="aboutpage-head position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="about-container">
      <h1 class="display-3">About Handygig</h1>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Join Now &raquo;</a></p>
    </div>
  </div>
  <div class="container">

    <p>HandyGig is a platform for people to find and post jobs. It is a place where people can find jobs that they
      can
      do and get paid for. It is also a place where people can post jobs that they need done and find people to do
      them. </p>


  </div>
  <hr>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <h2>Find Jobs</h2>
        <p>Find jobs that you can do and get paid for. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Post Jobs</h2>
        <p>Post jobs that you need done and find people to do them. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Get Paid</h2>
        <p>Get paid for the jobs that you do. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
</body>
{% endblock %}