/* navbar */

.navbar {
    display: flex;

    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


.navbar a {
    display: inline;

    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
}

.navbar-right a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
}

.navbar a:hover {
    background: #ddd;
    color: black;

}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.navbar-right {
    float: left;
}

/* footer */



/* home page */

.homepage-head {

    background-image: url(/static/img/handyman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;

}

.home-body {
    background-color: #cccccc;
}

.btn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;

}

.lead {
    font-size: 1.25rem;
    font-weight: 300;

}

/*About page*/

.aboutpage-head {
    background-image: url(/static/img/other.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

}

.display-3 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: #ffffff;
}

.about-page {

    background-color: #cccccc;

}

.col-md-4 {

    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #cccccc;

}

/* Sign-up page*/

.signup-page {
    background-image: url(/static/img/handy3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

}

.homepage-head .display-4 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.homepage-head .lead {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 300;
}

.homepage-head .btn {
    color: #ffffff;
    background-color: #4CAF50;
    border-color: #4CAF50;
    font-size: 1.25rem;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.homepage-head .btn:hover {
    color: #ffffff;
    background-color: #45a049;
    border-color: #45a049;
}

form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);


}

.form-group p {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;


}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #45a049;
}

.form-group a {
    color: #000000;
    font-size: 16px;
    text-decoration: none;
}

/* List page */

.post-body {
    margin-top: 10%;
    background-color: #cccccc;
}

.list-group {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}




/* New post page */

.new-page {

    background-image: url(/static/img/handy3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #cccccc;

}

.p-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}



/* login page */

.login-body {
    background-image: url(/static/img/newpic1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;


}



/* Detail page */

.detail-body {
    background-color: #cccccc;
}