/* navbar */

.navbar {
    display: flex;    
    
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


.navbar a {
    display: inline;

    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
}

.navbar-right a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
}

.navbar a:hover {
    background: #ddd;
    color: black;

}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.navbar-right {
    float: right;
}

/* footer */



/* home page */

.homepage-head {

    background-image: url(/static/img/handy3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.btn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;

}

.lead {
    font-size: 1.25rem;
    font-weight: 300;

}

/*About page*/

.about-page {
    background-image: url(/static/img/handy3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #cccccc;
}

.col-md-4 {

    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #cccccc;

}

/* Sign-up page*/

.signup-body {

    background-image: url(/static/img/handy3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #cccccc;
}

/* New post page */

.new-page {
    background-image: url(/static/img/handy3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    background-color: #cccccc;
}

/* Post page */

.post-body {
    background-image: url(/static/img/handy3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}



.card-body2 {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color: #cccccc;
}



/* login page */

.login-body {
    background-image: url(/static/img/handy3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #cccccc;
}